.message-ball {
    font-size: 20px;
    line-height: 200px;
    text-align: center;
  }
  .circle {
    transition-property: width, height;
    transition-duration: 2s;
    position: fixed;
    transform: translateX(-50%) translateY(-50%);
    background-color: red;
    border-radius: 50%;
  }