.content {
  background-color: rgba(46, 54, 79, 0.5);
  padding: 100px 50px;
  font-family: Merriweather, sans-serif;
  color: hsl(227, 47%, 26%);
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-width: 0px;

  &__todo {
    background-color: rgb(71, 193, 107);
    border: 4px thin black;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    position: relative;
    justify-content: center;
    align-items: center;
  }
}
