@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$page-bgcolor: #1b1e27;
$header-bgcolor: #272a38;
$ui-row-bgcolor: #272a3880;
$tanks-list-bgcolor: #12151e80;
$crit-weight-color: #eb5757;
$normal-weight-color: #00a99d;
$tank-wall-color: #303549;
$tank-wall-opacity: 0.89;
$tank-fuel-color: #0089ff;
$tank-content-color: #232532;
$tank-lvl-stripe-color: #f9f9f9;
$btn-bgcolor: #303549;
$btn-fontcolor: #ffffff;
$page-name-fontcolor: #d7e2f2;
$fuel-type-fontcolor: #606580;
$fuel-type-active-fontcolor: #ffffff;
$fuel-type-active-grad-color: #2378d940;
$fuel-type-active-bordercolor: #0089ff;
$tank-weight-label-fontcolor: #ffffff;
$tank-weight-value-fontcolor: #ffffff;
$tank-fuel-rate-bgcolor: #232532;
$tank-fuel-rate-fontcolor: #ffffff;
$tank-fuel-label-fontcolor: #ffffff;
$legend-desc-fontcolor: #ffffff;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	background-color: $page-bgcolor;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px 30px;
}

.container {
	width: 1860px;
}

.ui-row {
	background: $ui-row-bgcolor;
	height: 54px;
	padding: 7px 11px;
}

.header {
	display: flex;
	justify-content: space-between;
	background: $header-bgcolor;
}

.admin-panel-btn {
	width: 190px;
	outline: 0;
	border: 0;
	text-decoration: 0;
	background: $btn-bgcolor;
	font: normal 13px Tahoma;
	color: $btn-fontcolor;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.2s;

	&:hover {
		filter: invert(10%);
	}
}

.page-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 13px;

	&__icon {
		background: center no-repeat url(./icons/page-icon.png);
		height: 100%;
		width: 16px;
	}

	&__name {
		font: normal 12px Tahoma;
		color: $page-name-fontcolor;
	}
}

.fuel-types {
	padding: 0;

	&__list {
		list-style: none;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__item {
		position: relative;
		height: 100%;
		font: normal 14px Tahoma;
		color: $fuel-type-fontcolor;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		padding: 0 16px;
		cursor: pointer;
		transition: all 0.2s;

		&:hover {
			opacity: 0.5;
		}

		&--active {
			color: $fuel-type-active-fontcolor;

			&:hover {
				opacity: 1;
			}

			&::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 10px;
				bottom: 0;
				background: linear-gradient(
					0deg,
					$fuel-type-active-grad-color 0%,
					transparent 100%
				);
				background-origin: content-box;
				border-bottom: 2px solid $fuel-type-active-bordercolor;
			}
		}
	}
}

.tanks {
	display: flex;
	padding: 73px 40px;
	flex-wrap: wrap;
	background: $tanks-list-bgcolor;
	row-gap: 97px;
	column-gap: 61px;
}

.tank-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 197px;

	&__weight {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		&-label {
			font: normal 18px 'Roboto';
			color: $tank-weight-label-fontcolor;
		}

		&-value {
			font: normal 26px 'Roboto';
			color: $tank-weight-value-fontcolor;
		}
	}

	&__fuel-lvl {
		margin-top: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 9px;
		width: 185px;

		&-rate {
			min-width: 0;
			height: 56px;
			width: 56px;
			border-radius: 6px;
			display: flex;
			justify-content: center;
			align-items: center;
			font: normal 20px 'Roboto';
			background: $tank-fuel-rate-bgcolor;
			opacity: 0.89;
			color: $tank-fuel-rate-fontcolor;
		}

		&-label {
			height: 100%;
			flex: 1 0;
			display: flex;
			align-items: center;
			padding: 3px 0;
			color: $tank-fuel-label-fontcolor;
			font: normal 14px 'Roboto';
			line-height: 16px;
			overflow-wrap: break-word;
		}
	}
}

.tank {
	margin-top: 9px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	&__wall {
		width: 100%;
		height: 10px;
		opacity: $tank-wall-opacity;
		background: $tank-wall-color;

		&--orange-roof {
			height: 14px;
			border-top: solid 4px $crit-weight-color;
		}

		&--green-roof {
			height: 14px;
			border-top: solid 4px $normal-weight-color;
		}
	}

	&__content {
		width: 185px;
		background: $tank-content-color;
		padding: 8px 0 0 0;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: 31px;
			left: 18px;
			width: 38px;
			height: 60%;
			background: repeating-linear-gradient(
				0deg,
				$tank-lvl-stripe-color 0,
				$tank-lvl-stripe-color 1px,
				transparent 1px,
				transparent 31px
			);
		}
	}

	&__fuel {
		background-image: linear-gradient($tank-fuel-color, $tank-fuel-color);
		height: 116px;
		background-repeat: no-repeat;
		background-position: bottom left;

		&--80perc {
			background-size: auto 81%;
		}

		&--70perc {
			background-size: auto 70%;
		}

		&--20perc {
			background-size: auto 20%;
		}
	}
}

.legend {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 50px;
	padding: 0 25px;

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 23px;
	}

	&__icon {
		width: 23px;
		height: 23px;
		border-radius: 3px;
	}

	&__desc {
		font: normal 14px 'Roboto';
		text-transform: uppercase;
		color: $legend-desc-fontcolor;
	}
}

.crit-weight {
	background: $crit-weight-color;
}

.normal-weight {
	background: $normal-weight-color;
}
