@font-face {
  font-family: "tahoma";
  src: url("./fonts/tahoma/tahoma.woff2") format("woff2"),
    url("./fonts/tahoma/tahoma.woff") format("woff");
}

:root {
  --white: #ffffff;
  --red: #eb5757;
  --green: #00a99d;
  --tahoma: tahoma, sans-serif;
  --roboto: roboto, sans-serif;
  --primary: rgba(39, 42, 56, 0.5);
  --primary-second: #272a38;
}

body {
  padding: 25px 30px;
  background-color: #1b1e27;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-second);
  padding: 7px 11px 7px 14px;
  align-items: center;
  box-sizing: border-box;
  height: 54px;
}

.tank_info {
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-family: var(--tahoma);
  font-size: 12px;
  line-height: 15px;
  display: flex;
  gap: 13px;
  color: #d7e2f2;
}

.button {
  background-color: #303549;
  color: var(--white);
  padding: 11px 22px 13px 22px;
  border-radius: 4px;
  border: none;
  font-family: var(--tahoma);
  font-size: 13px;
  line-height: 16px;
  align-items: center;
}

.tablist {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: #606580;
  background-color: var(--primary);
  margin: 0;
  font-family: var(--tahoma);
  font-size: 14px;
  line-height: 16.9px;
  box-sizing: border-box;
  height: 54px;
  overflow: auto;
}

li {
  list-style-type: none;
  height: 100%;
  padding-top: 18px;
  padding-bottom: 19px;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

li:hover {
  color: var(--white);
  transition: all 0.4s ease;
  border-bottom: #0089ff;
  border-bottom: 2px solid #0089ff;
  box-sizing: border-box;
  margin-bottom: -2px;
}

li:hover::after {
  opacity: 1;
}

li::after {
  opacity: 0;
}

li::after,
li:hover::after {
  content: "";
  width: 100%;
  height: 10px;
  background: linear-gradient(
    0deg,
    rgba(35, 120, 217, 0.25) 0%,
    rgba(35, 120, 217, 0) 100%
  );
  bottom: 0;
  left: 0;
  position: absolute;
  transition: opacity 0.4s ease-in-out;
}

.content {
  background-color: rgba(18, 21, 30, 0.5);
  padding: 73px 49px 114px 55px;
  font-family: var(--roboto);
  color: var(--white);
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-width: 0px;
}

.tank {
  min-width: 197px;
  margin-bottom: 37px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 9px;
}

.mass {
  font-size: 18px;
  line-height: 21px;
}

.value {
  font-size: 26px;
  line-height: 30px;
}

.line {
  height: 4px;
  opacity: 0.89;
}

.red {
  background-color: var(--red);
}

.green {
  background-color: var(--green);
}

.border {
  height: 10px;
  background-color: #303549;
}

.diagram {
  width: 94%;
  height: 124px;
  background-color: #232532;
  margin-left: 6px;
  position: relative;
}

.degree1 {
  width: 38px;
  height: 1px;
  background-color: #f9f9f9;
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 9.5%;
  top: 25%;
}

.degree2 {
  width: 38px;
  height: 1px;
  background-color: #f9f9f9;
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 9.5%;
  top: 50%;
}

.degree3 {
  width: 38px;
  height: 1px;
  background-color: #f9f9f9;
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 9.5%;
  top: 75%;
}

.level {
  background-color: #0089ff;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.legend {
  margin-top: 30px;
  display: flex;
}

.precent {
  min-width: 56px;
  height: 56px;
  background-color: var(--primary-second);
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-right: 9px;
}

.text {
  font-size: 14px;
  line-height: 16px;
  width: 61%;
  display: flex;
  align-items: flex-end;
}

footer {
  background-color: var(--primary);
  color: var(--white);
  padding: 10px 25px 10px 0px;
  display: flex;
  gap: 50px;
  font-family: var(--roboto);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  flex-direction: row-reverse;
}

.rule {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rules {
  display: flex;
  gap: 30px;
}

.rec_red {
  height: 23px;
  width: 23px;
  border-radius: 3px;
  margin-right: 23px;
  background-color: var(--red);
}

.rec_green {
  height: 23px;
  width: 23px;
  border-radius: 3px;
  margin-right: 23px;
  background-color: var(--green);
}
