.navbar {
  width: 100%;
  height: 54px;
  display: flex;
  background-color: #21242f;
  justify-content: center;
}
.navbar__text {
  width: 42%;
  height: 100%;
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  justify-content: space-between;
  font: 14px Tahoma, sans-serif;
  color: #606580;
  cursor: pointer;
}
.navbar__text-backlight {
  display: flex;
  align-items: center;
  padding: 0 3px;
}
.navbar__text-backlight:hover {
  box-shadow: 0px -20px 24px -26px rgb(0, 137, 255) inset,
    0px -2px 0 0 rgb(0, 137, 255) inset;
  color: white;
  transition: 0.3s;
}
