$main-text: #FFFFFF;
$main-bg: #171923;
$page-bg: #1B1E27;

$header-top-bg: #272A38;
$header-title: #D7E2F2;
$header-button-bg: #303549;

$navbar-bg: #1f222e;
$navbar-link: #606580;
$navbar-link-active: #FFFFFF;
$navbar-active-link-underglow: linear-gradient(0deg, rgba(35, 120, 217, 0.25) 0%, rgba(35, 120, 217, 0) 100%);;

$user-img: #0089FF;
$user-divider:#303549;

$todo-completed: #04978D;
$todo-uncompleted: #EB5757;


