html, body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-main-color);
    user-select: none;
    overflow: hidden;
}

body {
    padding: 25px 30px;
}
::-webkit-scrollbar {
    width: 5px;        
}
::-webkit-scrollbar-track {
    background: var(--bg-scroll-color);  
    border-radius: 8px;   
}
::-webkit-scrollbar-thumb {
background-color: var(--track-scroll-color);  
border-radius: 20px;     
border-radius: 8px;   
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 0 15px;
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    line-height: 15px;
    background-color: var(--bg-header-color);
}
    .header__title {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--font-header-color);
        font-size: 12px;
    }
    .header__buttons {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
        .header__button {
            padding: 0 30px;
            height: 40px;
            display: flex;
            align-items: center;
            font-size: 13px;
            color: var(--font-main-color);
            background-color: var(--bg-button-color);
            border-radius: 4px;
            border: 1px solid  var(--bg-button-color);
            cursor: pointer;
        }
            .header__button:hover {
                border: 1px solid var(--font-header-color);
            }
            .header__button:active {
                border: 1px solid  var(--bg-button-color);
                background: var(--underline-color);
            }
            

.subheader {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    color: var(--font-tab-color);
    background-color: var(--bg-subheader-color);
}
    .subheader__navbar {
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .subheader__navbar li {
        padding: 0 10px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .subheader__navbar li:hover {
        color: var(--font-main-color);
    }
        .active-selector {
            position: relative;
            color: var(--font-main-color);
            border-bottom: 2px solid var(--underline-color);
        } 
        .active-selector::after {
            bottom: 0;
            position: absolute;
            width: 100%;
            height: 7px;
            content: '';
            background: var(--gradient);
        }

.content-wrapper {
    padding: 35px 30px;
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    overflow: auto;
    background-color: var(--bg-content-color);
}
.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
    .tank {
        width: 200px;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--font-main-color);
    }
        .tank__header {
            padding: 5px 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            .tank__header-mass {
                font-size: 26px;
                line-height: 30px;
            }
        .tank__legend-line {
            width: 100%;
            height: 4px;
        }
        .tank__line {
            width: 100%;
            height: 10px;
            background-color: var(--bg-tank-line-color);
        }
        .tank__emptiness {
            padding-left: 10px;
            width: 97%;
            height: 124px;
            display: flex;
            flex-direction: column;
            gap: 35px;
            position: relative;
            z-index: -999;
            background-color: var(--bg-emptiness-color);
        }
            .tank__white-line:first-child {
                margin-top: 25px;
            }
            .tank__white-line {
                width: 38px;
                height: 1px;
                background-color: var(--bg-white-line-color);
                z-index: 15;
            }
            .tank__filling {
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                position: absolute;
                z-index: 10;
            }
        .tank__level {
            padding-top: 20px;
            width: 97%;
            height: 57px;
            display: flex;
            gap:5px;
        }
            .tank__level-percent {
                padding: 9px;
                font-weight: 700;
                font-size: 20px;
                line-height: 23px;
                background-color: var(--bg-emptiness-color);
                border-radius: 6px;
            }
            .tank__level-label {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                text-align: left;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
            }

.footer {
    padding: 0 15px;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    background-color: var(--bg-subheader-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
    .footer__legend {
        height: 23px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--font-main-color);
    }
        .footer__legend-square {
            width: 23px;
            height: 23px;
            border-radius: 3px;
        }
        .footer__legend-column {
            display: flex;
            flex-direction: column;
        }

.accept {
    background-color: var(--green-tank-color);
}
.reject {
    background-color: var(--red-tank-color);
}

input[type="file"] {
    display: none;
}