<div class="rectangle rectangle-info ">
    <div>
        <img src="../icons/icon.svg"/>
        <div>Информация по резервуарам</div>
    </div>
    <div class="header__administration-panel btn">
        <label class="administration-panel__text">
          <input type="file" id="file" onchange="onChange()" />
          <p>Загрузить данные</p>
          <p></p
        ></label>
      </div>
</div>
<div class="rectangle rectangle-navbar">
    <a href="#">
        <li>АИ-92</li>
    </a>
    <a href="#" >
        <li  class="active">КЕРОСИН
        </li>
    </a>
    <a href="#">
        <li>ДТ ЗИМНЕЕ</li>
    </a>
    <a href="#">
        <li>ТС-1</li>
    </a>
    <a href="#">
        <li>АИ-95</li>
    </a>
    <a href="#">
        <li>МАЗУТ</li>
    </a>
    <a href="#">
        <li>ГАЗОЙЛЬ</li>
    </a>
    <a href="#">
        <li>НЕФТЬ</li>
    </a>
</div>
