$spa-colors: (
  paragraph: (
    base: #ffffff,
  ),
  red: (
    base: #eb5757,
  ),
  green: (
    base: #00a99d,
  ),
  primary: (
    base: rgba(39, 42, 56, 0.5),
  ),
  primary-second: (
    base: #272a38,
  )
);
