<section class="layer first_layer_header">
  <p class="information"><span>Информация по резервуарам</span></p>
  <a href="#" class="admin_panel">Панель администратора</a>
</section>

<section class="layer second_layer_header">
  <ul class="oil_type_list">
    <li class="oil_type_item">
      <a routerLink="/" class="oil_type-link">АИ-92</a>
    </li>
    <li class="oil_type_item">
      <a
        routerLink="/"
        class="oil_type-link"
        routerLinkActive="oil_type-link-current"
        >КЕРОСИН</a
      >
    </li>
    <li class="oil_type_item">
      <a routerLink="/" class="oil_type-link">ДТ ЗИМНЕЕ</a>
    </li>
    <li class="oil_type_item">
      <a routerLink="/" class="oil_type-link">ТС-1</a>
    </li>
    <li class="oil_type_item">
      <a routerLink="/" class="oil_type-link">АИ-95</a>
    </li>
    <li class="oil_type_item">
      <a routerLink="/" class="oil_type-link">МАЗУТ</a>
    </li>
    <li class="oil_type_item">
      <a routerLink="/" class="oil_type-link">ГАЗОЙЛЬ</a>
    </li>
    <li class="oil_type_item">
      <a routerLink="/" class="oil_type-link">НЕФТЬ</a>
    </li>
  </ul>
</section>
