$main-text: #FFFFFF;
$main-bg: #171923;
$page-bg: #1B1E27;

$header-top-bg: #272A38;
$header-title: #D7E2F2;
$header-button-bg: #303549;

$navbar-bg: rgba(39, 42, 56, 0.5);
$navbar-link: #606580;
$navbar-link-active: #FFFFFF;
$navbar-active-link-underglow: linear-gradient(0deg, rgba(35, 120, 217, 0.25) 0%, rgba(35, 120, 217, 0) 100%);;

$storage-indicator-false: #EB5757;
$storage-indicator-true: #04978D;
$storage-rate: #0089FF;
$storage-rate-empty: #232532;
$storage-intercept: #F9F9F9;

$chart-divider:#303549;


