<div class="navbar">
  <div class="navbar__text">
    <div class="navbar__text-backlight"><a>АИ-92</a></div>
    <div class="navbar__text-backlight"><a>КЕРОСИН</a></div>
    <div class="navbar__text-backlight"><a>ДТ ЗИМНИЕ</a></div>
    <div class="navbar__text-backlight"><a>ТС-1</a></div>
    <div class="navbar__text-backlight"><a>АИ-95</a></div>
    <div class="navbar__text-backlight"><a>МАЗУТ</a></div>
    <div class="navbar__text-backlight"><a>ГАЗОЙЛЬ</a></div>
    <div class="navbar__text-backlight"><a>НЕФТЬ</a></div>
  </div>
</div>
