.content {
  background-color: rgba(46, 54, 79, 0.5);
  padding: 100px 50px;
  font-family: Merriweather, sans-serif;
  color: hsl(227, 47%, 26%);
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-width: 0px;
}
