<div class="tabs">
  <div class="tab"><p class="tab__name">АИ-92</p><div class="tab_active__gradient"></div></div>
  <div class="tab tab_active"><p class="tab__name ">КЕРОСИН</p><div class="tab_active__gradient"></div></div>
  <div class="tab"><p class="tab__name">ДТ ЗИМНЕЕ</p><div class="tab_active__gradient"></div></div>
  <div class="tab"><p class="tab__name">ТС-1</p><div class="tab_active__gradient"></div></div>
  <div class="tab"><p class="tab__name">АИ-95</p><div class="tab_active__gradient"></div></div>
  <div class="tab"><p class="tab__name">МАЗУТ</p><div class="tab_active__gradient"></div></div>
  <div class="tab"><p class="tab__name">ГАЗОЙЛЬ</p><div class="tab_active__gradient"></div></div>
  <div class="tab"><p class="tab__name">НЕФТЬ</p><div class="tab_active__gradient"></div></div>
</div>
