.todos__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.todos {
  width: 350px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: rgb(39, 39, 39);
  font-family: "Google Sans", sans-serif;
  background-color: rgba(32, 148, 184, 0.486);
}
.btn {
  border-radius: 5px;
  border-color: rgba(126, 131, 114, 0.24);
  margin-top: 5px;
  background-color: rgb(243, 243, 243);
}
.btn__container {
  display: flex;
  justify-content: center;
}
